body {
    background-image: url('https://github.com/brahkiearchive/brahkie/raw/main/assets/imageAssets/background.gif');
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}

/* Center-align the header */
.header {
    text-align: center;
    margin-top: 2in;
}

/* Add left margin to the rest of the content */
p {
    margin-left: 2in;
}

/* Style the download container with a gray background */
.download-container {
    background-color: #666666;
    padding: 10px;
    margin: 2in;
}

/* Add spacing between the paragraphs (download links) */
.download-container p {
    margin-bottom: 3em;
}

/* Make the thumbnail images smaller */
.download-container img {
    width: 50px;
    height: auto; /* Maintain aspect ratio */
}

/* Password screen styling */
.password-screen {
    /* Add your desired styles for the password screen here */
}

/* Hide the archive content by default */
.archive-content {
    display: none;
}

/* Style for the unwelcome screen */
.unwelcome-screen {
    background-color: black;
    color: red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
}

.unwelcome-screen p {
    margin: 0;
}
