body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('https://github.com/brahkiearchive/brahkie/raw/main/assets/imageAssets/background.gif');
    background-repeat: repeat;
    font-family: Arial, sans-serif;
}

#content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#password-screen, #unwelcome-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#password-form {
    background-color: #666666;
    padding: 20px;
    border-radius: 0; /* Sharp edges */
}

#archive-content {
    display: none; /* Hidden by default */
    text-align: center;
}

.header img {
    max-width: 600px; /* Adjust as needed */
    height: auto;
}

.download-container {
    background-color: #666666;
    padding: 10px;
    margin-top: 20px; /* Adjust spacing between title GIF and content */
}

.download-container p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0; /* Add space between download links */
}

.download-container img {
    width: 100px; /* Adjust as needed */
    height: auto;
}

#unwelcome-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    display: none;
